<!-- Contenu pour add_inscription.html -->
{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter une Inscription</title>
{% endblock %}

{% block body %}
  <h2>Ajouter une Inscription</h2>
  <form method="post" action="/inscription/add">
    <fieldset>
        <legend>Créer une Inscription</legend>

        <label for="idSeance">Séance</label><br>
        <select name="idSeance" id="idSeance" required>
            <option value="">Sélectionner la séance</option>
            {% for seance in seances %}
            <option value="{{ seance.id_Seance }}"> {{ seance.DateSeance }} </option>
            {% endfor %}
        </select><br>

        <label for="idParticipant">Participant</label><br>
        <select name="idParticipant" id="idParticipant" required>
            <option value="">Sélectionner le participant</option>
            {% for participant in participants %}
            <option value="{{ participant.idParticipant }}"> {{ participant.Nom_Participant }} </option>
            {% endfor %}
        </select><br>

        <label for="date_Inscription">Date d'Inscription</label><br>
        <input id="date_Inscription" type="date" name="date_Inscription" size="18" value="" placeholder="Saisir la date d'inscription" required><br>

        <label for="prix_inscription">Prix de l'Inscription</label><br>
        <input id="prix_inscription" type="number" name="prix_inscription" size="18" value="" placeholder="Saisir le prix de l'inscription" required><br>

        <input type="submit" value="Créer" name="Valider">
    </fieldset>
  </form>
{% endblock %}

