{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter une Séance</title>
{% endblock %}

{% block body %}
  <h2>Ajout d'une séance</h2>
  <form method="post" action="/seance/add" >
    <fieldset>
        <legend> Créer une seance</legend>
{{ animateurs }}

        <label for="DateSeance">date</label><br>
        <input id="DateSeance" type="date" name="DateSeance" size="18" value="" placeholder="Saisir la date de la seance" required><br>
        <br>
        <label for="PlacesDisponibles">Nombre de Places Disponibles</label><br>
        <input id="PlacesDisponibles" type="number" name="PlacesDisponibles" size="18" value="" placeholder="Saisir le nombre de places disponibles" required><br>
        <br>
        <label for="IDlieu"> seance</label><br>
        <input id="Note_Seance" type="text" name="Note_Seance" size="18" value="" placeholder="Saisir la note de la seance" required><br>
        <br>
        <label for="Note_Animation">note animation</label><br>
        <input id="Note_Animation" type="text" name="Note_Animation" size="18" value="" placeholder="Saisir la note de l'animation" required><br>
        <br>
        <input type="submit" value="Creer" name="Valider" >
    </fieldset>
  </form>
{% endblock %}